.user-form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 4px;
}

.dl-input {
  width: 100% !important;
  height: 40px !important;
  border-radius: 8px !important;
  font-size: 13.5px !important;
}

.w-full {
  width: 100% !important;
}

:host ::ng-deep {
  .p-password,
  .p-multiselect {
    width: 100% !important;
  }

  .p-multiselect {
    min-height: 40px !important;
    border-radius: 8px !important;
  }
}
